body .login-form .tab-items {
    display: none;
}
body #layout-main {
    width: 100%;
    height: 100%;
    flex: none;
    border: none;
    box-shadow: none;
}
body #layout-main #body{
    height: 100%;
}